@model IEnumerable<EDWars.Models.Map>
<ul class="bxslider mapslist" style="margin: 0px; list-style: none; padding: 0;">
    @foreach (var map in Model)
    {
        <li>
            <a class="map-select" href="#@map.id" data-mapname="@map.name" data-mapid="@map.id">
                <div class="map-maker" style="background-color: #eee;">
                    <img src="@map.imageUrl" alt="@map.name" />
                    <h2 style="text-align: center;">@map.name</h2>
                    <p style="text-align: center;">@map.description</p>
                </div>
            </a>
        </li>
    }
</ul>