@model IEnumerable<EDWars.Models.Commander>
<ul class="bxslider commanderlist" style="margin: 0px; list-style: none; padding: 0;">
    @foreach (var commander in Model)
    {
        <li>
            <a class="commander-select" data-commanderId="@commander.id">
                <div class="map-maker" style="background-color: #eee;">
                    <img src="@commander.imgUrl" alt="@commander.name"/>
                    <h2 style="text-align: center;">@commander.name</h2>
                    <p style="text-align: center;">@commander.description</p>
                </div>

                <div class="commander-abilities">
                    <ul class="abilities">
                        @foreach (var ability in commander.abilities)
                        {
                            <li class="ability">
                                <div style="float: left; width: 64px;"><img class="ability-icon" src="@ability.taskBarBadgeUrl" /></div>
                                <div style="float: left; margin: 4px; width: calc(100% - 72px);">
                                    <h3>@ability.name <sup>lvl @ability.levelAvailable</sup></h3>
                                    <p>@ability.description</p>
                                   
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </a>
        </li>
    }
</ul>